* {
	margin: 0;
	padding: 0;
}

body {
	background: #F3F3FF;
}

ul {
	list-style-type: none;
}
#body{
	width: 1200px;
	margin: auto;
}

#userProfile {
	height : 200px;
	background: #88AAEE;
	width: 100%;

}
#userProfile h1{
	color: #FFFFFF;
	padding: 20px 0 0 20px;
	font-size: 50pt;
}


.feedBody {
	width: 550px;
	border-top: 2px solid #D3D3DE;
	margin: 25px 25px;
	float: left;

}
#userFeed {
	float: left;
	display : none;

}
#mainFeed {
	float: left;
}
.selectedUser {
	background: #FFFFFF;
	height: 400px;
}


.newTweet{
	background: #FFFFFF;
	
	padding: 6px;
	margin-top: 10px;
	border: 2px solid #D3D3DE;
	border-radius: 5px;
}
.newTweet p {
	margin: 5px 0 0 5px;
}
#newMessage{
	margin: 20px 0 20px 30px;

}
